[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/mINI"]
	path = libs/mINI
	url = https://github.com/metayeti/mINI
[submodule "libs/nxmp-devoptabs"]
	path = libs/nxmp-devoptabs
	url = git@github.com:proconsule/nxmp-devoptabs.git
